<footer role="contentinfo" class="footer">
  <p><small>Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small>Published with <a href="http://hubpress.io">HubPress</a></small></p>
</footer>
