{{!< default}}
<header id="header">
    <div class="header-background">
    <section class="blog-content animated fadeIn">
        <a id="site-url" class="blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
        <span class="blog-description">{{@blog.description}}</span>
        {{> links}}
    </section>
    </div>
</header>
<main id="main" class="archive">
    {{>loop}}
</main>