<nav class="pagination" role="navigation">
    {{#if prev}}
    	<a href="{{page_url prev}}"" class="tiny secondary button fi-arrow-left"></a>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
    	<a href="{{page_url next}}"" class="tiny secondary button fi-arrow-right"></a>
    {{/if}}
</nav>