<section id="sharing">

    <a id="twitter" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}"><span class="icon-twitter"></span></a>

    <a id="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"><span class="icon-facebook"></span></a>

    <a id="google-plus" href="https://plus.google.com/share?url={{url absolute='true'}}"><span class="icon-googleplus"></span></a>
</section>
