<nav role="pagination" class="post-list-pagination">
  {{#if prev}}
    <a href="{{pageUrl prev}}" class="post-list-pagination-item post-list-pagination-item-prev" data-pjax>
      <i class="fa fa-angle-double-left"></i>&nbsp;Newer
    </a>
  {{/if}}
  <span class="post-list-pagination-item post-list-pagination-item-current">Page {{page}} of {{pages}}</span>
  {{#if next}}
    <a href="{{pageUrl next}}" class="post-list-pagination-item post-list-pagination-item-next" data-pjax>
      Older&nbsp;<i class="fa fa-angle-double-right"></i>
    </a>
  {{/if}}
</nav>
