{{#if prev}}
    <a href="{{page_url prev}}" class="btn nav prev">
      <span aria-hidden="true" data-icon=">"></span>
      Newer
    </a>
{{/if}}
{{#if next}}
    <a href="{{page_url next}}" class="btn nav next">
      <span aria-hidden="true" data-icon=">"></span>
      Older
    </a>
{{/if}}