@import 'bourbon/bourbon';
@import 'http://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400)';

// ------------------------------
// THE BASICS
// ------------------------------

@import 'reset.scss';
@import 'grid.scss';
@import 'variables.scss';
@import 'fonts.scss';

// ------------------------------
// GLOBAL STYLES
// ------------------------------

@import 'global.scss';

// ------------------------------
// SECTIONS
// ------------------------------

@import 'sections/post.scss';

// ------------------------------
// COMPONENTS
// ------------------------------

@import 'components/panels.scss';
@import 'components/buttons.scss';
@import 'components/navigation.scss';
@import 'components/pagination.scss';
@import 'components/icons.scss';
@import 'components/post-list.scss';
@import 'components/forms.scss';

// ------------------------------
// MEDIA QUERIES
// ------------------------------

@import 'media-queries.scss';

// ------------------------------
// EXTRAS
// ------------------------------

@import '../css/animate.css';
