<section class="colophon">
  <section class="copyright">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">All Rights Reserved</span>.</section>
  <section class="poweredby">Published with <a class="icon-ghost" href="https://hubpress.github.io">HubPress</a></section>
</section>
<section class="bottom">
  <section class="attribution">
    <a href="http://github.com/Reedyn/Saga">Built with <i class="fa fa-heart"></i> and Free and Open-Source Software</a>.
  </section>
</section>
