{{!< default}}

{{#post}}

    {{> post-meta}}

    <article class="post">

        <header>
            <h1>{{title}}</h1>
        </header>

        <section id="post-body">
            {{content}}
        </section>

        {{!> comments}}

        <footer id="post-meta" class="clearfix">
            <div><span>Last updated on </span> <time datetime="{{date format='YYYY-MM-DD'}}">{{date format='DD MMM YYYY'}}</time></div>
            {{> share}}
        </footer>

    </article>

    <footer>
        {{! Pagination will go here once Ghost releases it.}}
    </footer>

{{/post}}
