<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. Built with <a href="https://github.com/Kikobeats/uno-zen" target="_blank">Uno Zen</a> under <a href="http://hubpress.io/" target="_blank">HubPress</a>.
  </span>
</footer>
